{
    "Standard": "c++17",
    "BasedOnStyle": "Google",
    "UseTab": "Never",
    "ColumnLimit": 120,
    "IndentWidth": 4,
    "TabWidth": 4,
    "BreakBeforeBraces": "Attach",
    "BreakBeforeTernaryOperators": "true",
    "BreakConstructorInitializers": "BeforeColon",
    "BreakInheritanceList": "BeforeColon",
    "BreakStringLiterals": "true",
    "CompactNamespaces": "false",
    "ConstructorInitializerAllOnOneLineOrOnePerLine": "false",
    "EmptyLineBeforeAccessModifier": "LogicalBlock",
    "FixNamespaceComments": "false",
    "IncludeBlocks": "Regroup",
    "AccessModifierOffset": -4,
    "AlignAfterOpenBracket": "AlwaysBreak",
    "AlignConsecutiveAssignments": "None",
    "AllowAllArgumentsOnNextLine": "false",
    "AllowAllConstructorInitializersOnNextLine": "false",
    "AllowAllParametersOfDeclarationOnNextLine": "false",
    "AllowShortBlocksOnASingleLine": "Empty",
    "AllowShortFunctionsOnASingleLine": "Empty",
    "AllowShortIfStatementsOnASingleLine": "Never",
    "AllowShortLambdasOnASingleLine": "Empty",
    "AllowShortEnumsOnASingleLine": "false",
    "AllowShortLoopsOnASingleLine": "false",
    "AllowShortCaseLabelsOnASingleLine": "false",
    "AlwaysBreakAfterReturnType": "None",
    "AlwaysBreakTemplateDeclarations": "Yes",
    "NamespaceIndentation": "All",
    "IndentCaseBlocks": "false",
    "IndentCaseLabels": "false",
    "SpaceAfterLogicalNot": "false",
    "SpaceAfterTemplateKeyword": "true",
    "SpaceBeforeAssignmentOperators": "true",
    "SpaceBeforeCaseColon": "false",
    "SpaceBeforeCtorInitializerColon": "true",
    "SpaceBeforeInheritanceColon": "true",
    "SpaceInEmptyParentheses": "false",
    "SpacesInAngles": "false",
    "SpacesInConditionalStatement": "false",
    "SpacesInContainerLiterals": "false",
    "SpacesInParentheses": "false",
    "SpacesInSquareBrackets": "false",
    "PointerAlignment": "Right",
    "DerivePointerAlignment": "false"
}